/* Variables */
body {
  --pad: 1rem;
  --bg-color: #0e0e16;
}

/* Full screen app layout */
body {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

body > aside {
  padding: var(--pad);
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--pad);
  column-gap: calc(var(--pad) * 2);
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  body > aside {
    flex-direction: column;
  }
  body > aside {
    max-width: 27rem;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  body > aside {
    flex-direction: row;
  }

  body > aside {
    max-height: 13rem;
  }
}

details.fieldset {
  border: 2px groove silver;
  padding: 0.75em;
  margin-top: 0.5em;
}
details.fieldset > summary:first-of-type {
  position: relative;
  width: fit-content;
  top: -1.6em;
  margin-bottom: -1.6em;
  padding: 0 2px;
  background: var(--bg-color);

  font-weight: bold;
}

form#import-settings > details > div,
form#import-settings > details > label {
  display: block;
  margin-inline-start: 1em;
  text-indent: -1em;
}
form#import-settings > details > div > label {
  white-space: nowrap;
}

#test-list {
  list-style: none;
  padding: 0;
}

#road-network > svg {
  width: 100%;
  height: 100%;
}

#map {
  flex-grow: 1;

  cursor: crosshair;
}

/* Theming */

body,
h1,
h2,
h3,
h4,
h5,
a,
button,
input,
textarea,
.button,
label,
p,
select {
  font-family: "Source Code Pro", monospace;
}

body {
  background: var(--bg-color);
  color: #cccccc;
}
a:link {
  color: #72e0d1;
}
a:visited {
  color: #83ba52;
}

button,
input,
textarea,
.button {
  background-color: #323253;
  color: #cccccc;
}
button:hover,
input:hover,
.button:hover {
  background-color: #444480;
}
button:active,
input:active,
.button:active {
  background-color: #38482a;
}
button:disabled,
.button.disabled {
  background-color: #333333;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.4em;
  height: 1.4em;
  margin: 2ex 1em;
  padding: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}
