name: Deploy web

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0

      - name: Build web app
        run: |
          cd tests-web
          wasm-pack build --release --target web ../osm2streets-js
          # Make a full copy of what we'll publish, dereferencing symlinks
          cp -RLv www/ publish_www
          # wasm-pack generates this file, but it'll prevent the action below from working
          rm -fv publish_www/js/osm2streets-js/.gitignore

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./tests-web/publish_www/
