name: Deploy web

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - name: Cache WASM build
        uses: actions/cache@v3
        with:
          path: target
          key: doesnt-matter-share-everything

      - name: Build web app
        run: |
          cd web
          wasm-pack build --release --target web ../osm2streets-js
          npm ci
          npm run build --if-present

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/dist/
