name: Deploy web

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: street-explorer/package-lock.json

      - name: Install node dependencies
        run: npm ci

      - name: Build web app
        run: |
          cd street-explorer
          wasm-pack build --release --target web ../osm2streets-js
          npm run build --if-present
          # Manually copy the tests
          cp -RLv tests dist

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./street-explorer/dist/
